name: all

on: [push]

jobs:
  lib:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: npm ci -w pkgs/lib
      - run: npm run build -w pkgs/lib
      - run: npm test -w pkgs/lib
